body {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#grid-container {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; /* remove gaps after wrapping */
  padding: 8px;
  width: 516px;
  height: 516px;
}

.square {
  border: 2px solid red;
  background-color: orange;
  width: 25%;
  height: 25%;
  /* make squares fit evenly with width: 25%,
   otherwise it overflows and you only get 3 squares per line */
  box-sizing: border-box;
}
