body {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#grid-container {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; /* remove gaps after wrapping */
  width: 800px;
  height: 800px;
}

.column {
  display: flex;
  flex-direction: column;
  /* we want the columns to span 100% the height of the container */
  height: 100%;
  width: auto;
  flex: 1; /* evenly distribute columns in each container */
}

.square {
  border: 2px solid red;
  background-color: orange;
  flex: 1; /* evenly distribute squares in column */
}
